<div class="row">
  <div class="col-md-6">
    <table class="table">
      <% @post.comments.each do |comment|%>
      <tr>
        <td><%= image_tag comment.user.gravatar_url %><%= comment.user.username %>：</td>
        <td><%= comment.comment %></td>
        <td>
          <% if comment.user == current_user %>
          <%= link_to '刪除留言', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>



