<%= form_for Comment.new, url: post_comments_path(@post) do |f| %>

<div class="row">
  <div class="col-md-6">

    <div class="form-group">
      <%= f.text_area :comment, class: "form-control" %>
    </div>

    <%= f.submit "回覆", class: "btn btn-default"%>
  </div>
</div>


<% end %>