
  <h4>
    Total users are <%= @users.size %> now.
  </h4>
  <h4>
    Total posts are <%= @posts.size %> now.
  </h4>
  <h4>
    Total comments are <%= @comments.size %> now.
  </h4>

  <%= link_to 'Back to Forum', posts_path %>


