@import "bootstrap-sprockets";
@import "bootstrap";

.table {
  border: 1px solid #ccc;
  img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  th {
    text-align: center;
    a {
      text-decoration: none;
      &:hover {
      text-decoration: none;
      }
    }
  }
  td {
    text-align: center;
    a {
    text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      text-align: left;
      font-size: 1.1em;
      padding: 3px 5px;
      margin: 0 2px;
    }
  }
  ul {
    list-style-type: none;
    li {
      float: left;
      display: inline;
      padding: 2px;
    }
  }
}

.login {
  float: right;
  text-align: right;
}

#logo {
  width: 200px;
  margin: 0 auto;
}
.about{
  ul {
    list-style-type: none;
    li {
      display: inline;
      float: right;
      padding: 2px;
    }
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}